# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

*.o
*.lo
*.la
*.al
*.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~
#*#
.#* 
.*.swp
*[Bb]in
*obj
*suo
*resharp*
*.user
*.tmp
*.TMP
*Resharper*
*ReSharper* 
*.Load
*.gpState
*.NoLoad
*.~m2
*.dbmdl
*.gpState
_notes
*.cache 
[Tt]est[Rr]esult
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.[Cc]ache
[Tt]humbs.db 
lint.db
*.docstates
.apdisk
[Ll]ogs
.DS_Store
Debug
Release
bin
obj
ipch
*.sdf